@import 'https://fonts.bunny.net/css?family=alice:400';

html {
  height: 100%;
}

body {
  background-color: #333631;
  height: 100%;
}

#index {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template:
    '_main-noop-head' 40%
    'main' 60%;
}

.main {
  grid-area: main;
  text-align: center;
  font-size: large;
  font-family: Alice, sans-serif;
  color: #a86f4c;
}
