<h2>Todo List</h2>
<% todos.each do |todo| %>
<ul>
  <li>
    <a href="/todos/<%=todo.id %>"><%=todo.id %></a> - <%=todo.done %> - <%=todo.subject %>
  </li>
</ul>
<% end %>

<p>
  Registered <%=todos.size %> items. <a href="/new">Want to add new one?</a>
</p>
